<% content_for :title, "Books" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Books</h1>
  <%= link_to "New book", new_book_path, class: "btn btn--primary" %>
</div>

<div id="books" class="flex flex-col" style="gap: 2rem;">
  <% @books.each do |book| %>
    <div class="flex flex-col items-start gap">
      <%= link_to book_path(book) do %>
        <% if book.cover_image.attached? %>
          <%= image_tag book.cover_image.variant(resize_to_limit: [200, 300]), alt: book.title, class: "rounded shadow-lg hover:scale-105 transition-transform duration-200" %>
        <% else %>
          <div class="w-48 h-64 bg-gray-200 flex items-center justify-center rounded shadow-inner">
            <span class="text-sm text-gray-500">No Image</span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
