<%= render @music %>

<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this Song", edit_music_path(@music), class: "btn" %>
  <%= link_to "Back to Music", musics_path, class: "btn" %>
  <%= button_to "Delete", @music, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--danger" %>
</div>